{% extends 'base.html' %}
{% block head%}
{{super()}}
{% endblock %}

{% block content %}
<h1 style="text-align: center; margin-top: 200px;">Welcome {{session['firstname']}}!</h1>
<div class="container" style="margin-top: 100px;">
    <br />
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form action="/search_result" class="card card-sm" , method="post">
                <div class="card-body row no-gutters align-items-center" style="background-color:rgba(0, 0, 0, 0.76);">
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search"
                            placeholder="Search artists or tracks" name='search'>
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
</div>
{% endblock %}

